.todo-item-completed, .todo-item-not-completed {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  position: relative;
}

.todo-item-completed p {
  color: #888;
  text-decoration: line-through;
  position: relative;
}

.todo-list {
  margin-bottom: 100px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 10px;
  text-align: center;
  position: relative;
}

.todo-month {
  text-align: center;
}

.listButtons {
  margin: 10px;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  transition-duration: 0.4s;
  background-color: crimson;
  border: 1px black solid;
  color: white;
  font-size: larger;
  position: relative;
}

.editButtons {
  padding-left: 50px;
  padding-right: 50px;
  margin: 2px;
  transition-duration: 0.4s;
  background-color: crimson;
  border: 1px black solid;
  color: white;
  font-size: larger;
  position: relative;
}

h1 {
  font-size: 50px;
  position: relative;
}

.listButtons:hover, .editButtons:hover {
  background-color: gold;
  color: black;
  position: relative;
}

.todo-days {
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  position: relative;
}

.inputTask {
  padding-right: 200px;
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0px;
  font-size: larger;
  position: relative;
}

@media only screen and (max-width: 768px) {
  button {
    position: relative;  /* Or 'absolute' or 'fixed', based on your need */
    margin: 10px;
    padding: 8px 16px;
    width: 100%;  /* Make button width 100% for mobile */
    text-align: center;  /* Center the text inside the button */
  }
}
